In [3]:
a=1
b=2
a+b

3

In [ ]:
# 복소수
a=2+3j
b=3
a*b

In [6]:
a=3
if a>1:
        print("a is greater than1")

a is greater than1

In [9]:
#반복문 for
for a in[1,2,3]:
        print(a)

1
2
3

In [10]:
#반복문 while
i=0
while i<3:
        i=i+1
        print(i)

1
2
3

In [15]:
#함수 만들땐 def
def sum(a,b):
        return(a+b)
    
print(sum(3,4))

7

In [20]:
a=1+2j
a.real        #복소수.real  은 복소수의 실수 부분을 리턴

a.imag        #복소수.imag 는 복소수의 허수 부분을 리턴

a.conjugate() #복소수.conjugate() 는 복소수의 켤레복소수를 리턴

abs(a)        #abs(복소수) 는 복소수의 절대값 리턴

2.23606797749979

In [25]:
a=3
b=4
a+b
a*b
a/b  # +, -, *, / 사칙연산 동일

0.75

In [26]:
a=3
b=4
a**b #a의 b승  a의 b제곱값 리턴

81

In [34]:
7%3  #7을 3으로 나눈 값의 나머지
3%7  #3을 7로 나눈 값의 나머지

3

In [39]:
7/4
7//4  #나눗셈 결과의 소수점 부분 제외 후 출력

1

# 문자열
 - ', "
  - 문장 안에 ' 가 있을 경우, 문자를 묶어주는 표시는 큰따옴표(")
  - 문장 안에 " 가 있을 경우, 문자를 묶어주는 표시는 작은따옴표(')
  - 문장 안에 " 혹은 ' 앞에 \ 를 붙이면, 문자열을 만드는 기호로 인식하지 않음.
 - """, '''
  - 줄바꿈의 경우 ''' 혹은 """ 사이에 문장을 쓰고, 스페이스바 3. . . 을 해주면 된다.

In [44]:
food="Python's favorite food is perl"  #문장 안에 ' 가 있을 경우, 문자를 묶어주는 표시는 큰따옴표(")
food

"Python's favorite food is perl"

In [48]:
say='Python is very easy." he says.' #문장 안에 " 가 있을 경우, 문자를 묶어주는 표시는 작은따옴표(')
say

'Python is very easy." he says.'

In [55]:
food='Python\'s favorite food is perl' #문장 안에 " 혹은 ' 앞에 \ 를 붙이면, 문자열을 만드는 기호로 인식하지 않음.
say="\"Python is very easy.\" he says."
food
say

'"Python is very easy." he says.'

In [71]:
multiline= "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [79]:
multiline='''
    Life is too short
    You nee pyhon
    '''
multiline2="""
    Life is too short
    You nee pyhon
    """
print(multiline)   #''' 혹은 """ 사이에 문장을 쓰고, 스페이스바 3. . . 을 해주면 줄바꿈이 된다.
print(multiline2)

    Life is too short
    You nee pyhon


    Life is too short
    You nee pyhon

In [82]:
head="Pyhon"
tail="is fun!"
print(head+tail)

a="python"
print(a*2)

Pyhonis fun!
pythonpython

In [84]:
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

In [89]:
print("="*25+"*"*5+"="*25)
print("KuKu Study")
print("="*25+"*"*5+"="*25)

=========================*****=========================
KuKu Study
=========================*****=========================

# 인덱싱 / 슬라이싱
 - 0부터 숫자를 센다!
 - a[번호] : 해당 번호열 값을 뽑아낸다. '인덱싱'
 - a=00000 / b=a[:3] '슬라이싱'

In [94]:
a="Life is too short, You need Python"
a[3]
a[-1] # -는 뒤에서부터.
a[-3]

'h'

In [96]:
a="Life is too short, You need Python"
a[0:3] #a의 0,1,2 까지의 값을 출력. (a:b → a부터, b-1 까지의 값)

'Lif'

In [98]:
a[:16]

'Life is too shor'

In [102]:
a="20010331Rainy"
year=a[:4]
day=a[4:8]
weather=a[8:]
print(year, day, weather)

2001 0331 Rainy

# 문자열의 요소값은 바꿀 수 없다. 따라서, <슬라이싱>을 통해 수정 가능

In [ ]:
a="Pithon"
a[1]
a[1]='y'  #--> 안된다!!!

In [115]:
a="Pithon"  
a[:1] + 'y' + a[2:]  #--> 요러케 슬라이싱으로!!!

'Python'

 # 문자열 Formatting 포매팅
  - 문자열 내에 특정 위치에만 값을 삽입
 - %d : 숫자 삽입
 - %s : 문자열 삽입
 - %c : 문자 1개 삽입

In [117]:
"I eat %d apples." %3

'I eat 3 apples.'

In [118]:
"I eat %s apples." % "five"

'I eat five apples.'

In [119]:
number=3
"I eat %d apples." %number

'I eat 3 apples.'

In [121]:
number=10
day="three"
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

# .format()  {0}

In [163]:
"I eat {0} apples". format(3)
"I eat {0} apples". format("five")

'I eat five apples'

In [122]:
"%10s"%"hi" #총 길이가 10인 문자열 공간에서 오른쪽 정렬

'        hi'

In [125]:
"%-10sjane"%'hi'

'hi        jane'

In [128]:
"%0.4f"%3.42134234 #소수 4째 자리까지 표현

'3.4213'

 # 문자열 관련 함수
- 문자열 변수 뒤에 . 함수 를 붙이면 된당

 # count() : 해당갯수 세기

In [130]:
a="hobby"
a.count('b')

2

# find() , index() : 해당값의 위치 출력

In [133]:
a="Python is best choice"
a.find('b') #해당 값(b)가 처음 나오는 위치값 출력
a.find('k') #존재하지 않으면 -1 반환

-1

In [134]:
a='Life is too short'
a.index('t')

8

# join() : 문자열 삽입

In [140]:
a=","
a.join('abcd')

'a,b,c,d'

# upper() : 소문자 -> 대문자
# lower() : 대문자 -> 소문자

In [142]:
a="julia"
a.upper()

'JULIA'

In [143]:
a="JULIA"
a.lower()

'julia'

# lstrip() : 왼쪽 공백 삭제
# rstrip() : 오른쪽 공백 삭제
# strip() : 양쪽 공백 둘다 삭제

In [148]:
a=" hi "
a.lstrip()

'hi '

In [150]:
a.rstrip()

' hi'

In [151]:
a.strip()

'hi'

# replace() : 문자열 변경하기

In [152]:
a="Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

# split() : 문자열 내 공백을 기준으로 나누기

In [154]:
a="Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [158]:
a="a:b:c:d"
a.split(':')  #a 내의 : 를 기준으로 나눠라!

['a', 'b', 'c', 'd']

# 리스트 자료형
- 리스트명=[요소1, 요소2, 요소3 ...]
- [ ] 대괄호 : 리스트

In [168]:
a=[]
b=[1,2,3]
c=['Life','is','too','shot']
d=[1,2,'Life','is']
e=[1,2,['Life','is']]

In [177]:
b[0]+b[2]

4

In [178]:
a=[1,2,3,['a','b','c']]
a[-1][1]

'b'

In [188]:
a=[1,2,3,4,5]
print(a[0:2])

b="12345"
print(b[0:2])

c=[5,4,3,2,1]
print(a+c)

print(a*3)
print(b*3)

[1, 2]
12
[1, 2, 3, 4, 5, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
123451234512345

# str() : 정수, 실수 → 문자열의 형태로 변경

In [192]:
a=[1,2,3]
str(a[2])+"hi"

'3hi'

# 리스트 수정하기

In [211]:
a=[1,2,3]
a[2]=4
a

[1, 2, 4]

In [212]:
a=[1,2,3]
a[1:2]
a[1:2]=['a','b','c']
a

[1, 'a', 'b', 'c', 3]

In [209]:
a=[1,2,3]
a[1]
a[1]=['a','b','c']
a

[1, ['a', 'b', 'c'], 3]

In [213]:
a[1:3]=[]  #1,2번째 내용 삭제하기
a

[1, 'c', 3]

In [217]:
b=[1,2,3]
del b[1]  # del b[1] : b의 두번째 값을 삭제하기
b

[1, 3]

# append() : 요소 추가

In [218]:
a=[1,2,3]
a.append(4)  #a리스트의 마지막에 4를 추가
a

[1, 2, 3, 4]

In [220]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

# sort() : 리스트 정렬

In [226]:
a=[1,4,3,2]
a.sort()
print(a)

b=['c','b','a']
b.sort()
print(b)

[1, 2, 3, 4]
['a', 'b', 'c']

# index(a)  : 리스트 내 a의 자리번호 출력

In [231]:
a=[1,2,3]
print(a.index(3)) 
print(a.index(1))

2
0

In [235]:
a=[1,2,3]
a.insert(0,4)  #a의 0의 자리에 4를 추가해라
a

[4, 1, 2, 3]

In [237]:
a=[1,2,3,1,2,3]
a.remove(3)   #a의 첫번째로 나오는 '3'을 제거해라
a

[1, 2, 1, 2, 3]

# pop() : 리스트 내 마지막 원소를 출력 후(꺼낸 다음), 제거하고 나머지만 남는다.

In [241]:
a=[1,2,3]
a.pop()

3

In [239]:
a

[1, 2]

# count(a) : 원소 a 가 총 몇개인가

In [242]:
a=[1,2,3,1]
a.count(1)

2

# extend(x) : 리스트 추가(반드시 x는 리스트!)

In [245]:
a=[1,2,3]
a.extend([4,5])
a
b=[6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

# 튜플 () / 리스트는 [ ]
 - 튜플 : ( ) 내용 변경 불가능. 괄호 생략 가능. 원소가 1개 일때 컴마, 필수. ex) t1=(1,)
 - 리스트 : [ ] 내용 변경 가능.

In [3]:
t1=[1,2,'a','b']
del t1[0]
t1          #리스트는 내용 삭제 가능

[2, 'a', 'b']

In [4]:
t2=(1,2,'a','b')
del t2[0]
t2          #튜플은 내용 삭제 불가능

TypeError: 'tuple' object doesn't support item deletion

In [5]:
t1=[1,2,'a','b']
t1[0]='c'
t1           #리스트는 내용 변경 가능

['c', 2, 'a', 'b']

In [6]:
t2=(1,2,'a','b')
t2[0]='c'
t2           #튜플은 내용 변경 불가능

TypeError: 'tuple' object does not support item assignment

In [12]:
t1=(1,2,'a','b')
t1[0]
t1[3]
t1[1:]
t2=(3,4)
t1+t2
t1*3

(1, 2, 'a', 'b', 1, 2, 'a', 'b', 1, 2, 'a', 'b')

# 딕셔너리 자료형 { }
 - {Key1:Value1, Key2:Value2, Key3:Value3 ...}

In [23]:
a={1:'a'}
a[2]='b'
a['name']='pey'
a[3]=[1,2,3]
del a[1]
a

{2: 'b', 3: [1, 2, 3], 'name': 'pey'}

In [30]:
grade={'pey':10, 'julliet':99}
print(grade['pey'])
grade['julliet']

10

99

In [33]:
a={1:'a',2:'b'}
print(a[1])
a[2]

a

'b'

In [38]:
dic={'name':'Julia','phone':'01050092741', 'birth':890312, 'student_no':'U2016043'}
print(dic['name'])
print(dic['birth'])

Julia
890312

In [40]:
a={1:'a',1:'b'}    #동일한 Key값이 중복되면 1:'a'라는 쌍이 무시된다. Key값이 중복되면 안됨!
a

{1: 'b'}

In [41]:
a={[1,2]:'hi'}     #딕셔너리 안에 [ ] 리스트 사용 불가. 왜? 리스트는 값이 바뀔 수 있으므로
a

TypeError: unhashable type: 'list'

In [43]:
b={(1,2):'hi'}     #딕셔너리 안에 ( ) 튜플 사용 가능. 왜 튜플은 값이 바뀌지 않으므로.
b

{(1, 2): 'hi'}

In [44]:
a={'name':'Julia','phone':'01050092741', 'birth':890312, 'student_no':'U2016043'}
a.keys()

dict_keys(['student_no', 'name', 'phone', 'birth'])

In [45]:
for k in a.keys():
        print(k)

student_no
name
phone
birth

In [50]:
list(a.keys())  #Key값을 리스트로 변환하기

['student_no', 'name', 'phone', 'birth']

In [51]:
a.values()      #Value 리스트 만들기

dict_values(['U2016043', 'Julia', '01050092741', 890312])

# a.items()
 - a의 Key, Value 쌍으로 출력하기

In [49]:
a.items()

dict_items([('student_no', 'U2016043'), ('name', 'Julia'), ('phone', '01050092741'), ('birth', 890312)])

# a.get ('000')      
 - Key로 Value 값 얻기 get

In [56]:
a={'name':'Julia','phone':'01050092741', 'birth':890312, 'student_no':'U2016043'}
print(a.get('name'))
a.get('birth')

Julia

890312

# 딕셔너리 안에 찾으려는 Key값이 없을 땐, 미리 정해둔 디폴트 값을 가져올 수 있다.
# get(x, '디폴트 값')

In [58]:
a.get('foo','bar')

'bar'

In [59]:
'name' in a  #a 안에 'name'이라는 Key 값이 있는지 확인 가능. 'key' in a

True

In [60]:
'foo' in a

False

# 집합 자료형 set
 - 집합에 관련된 것들을 쉽게 처리하기 위한 자료형
 - 순서, 중복이 없다.
 - 순서가 없기때문에 → 인덱싱이 불가능. (같은 이유로 { } 딕셔너리도 인덱싱 불가능)

In [65]:
s1=set([1,2,3])
print(s1)
s2=set("Hello")
print(s2)

{1, 2, 3}
{'H', 'e', 'l', 'o'}

# set 자료형에 저장된 값을 인덱싱 하려면, 리스트[ ] 나 튜플( )로 변환 후 사용

In [72]:
s1=set([1,2,3])
l1=list(s1)
print(l1)
print(l1[0])

t1=tuple(s1)
print(t1)
print(t1[0])

[1, 2, 3]
1
(1, 2, 3)
1

# 집합자료형의 활용 : 교집합 &,  합집합 | or union, 차집합 - or difference

In [73]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])

In [81]:
print(s1&s2)
print(s1|s2)
print(s1.union(s2))
print(s1-s2)
print(s2-s1)
print(s2.difference(s1))

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{8, 9, 7}

# 집합자료형 : 값 추가하기 add(값 1개), update(값 2개 이상)

In [82]:
s1=set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [83]:
s1=set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

# 집합자료형 : 값 제거하기 remove

In [85]:
s1=set([1,2,3])
s1.remove(2)
s1

{1, 3}

# 자료형의 참/거짓

In [93]:
a=[1,2,3,4]
while a:
        a.pop()
        
print(a)

[]

In [7]:
if[]:
        print("True")
else:
        print("False")

False

In [11]:
if[1,2,3]:
        print("Ture")
else:
        print("False")

Ture

In [17]:
a=3
b=5
a,b=b,a  #a와 b 변수 변경하기
print(a)
print(b)

5
3

# if 문

In [26]:
money=1
if money:
        print("택시타자")
else:
        print("걸어가자")

택시타자

In [29]:
money=1
if money:
        print("택시")
        print("탈까")
else:
        print("걸어")
        print("갈까")

택시
탈까

In [36]:
x=3
y=2
x!=y

True

# x or y : x 와 y 둘 중에 하나만 참이면 참!
# x and y : x 와 y 모두 참이어야 참!
# not x : x가 거짓이면 참!

In [41]:
money=2000
card=1
if money>=3000 or card:
        print("택시타자")
else:
        print("걸어가자")

택시타자

x in s,

In [43]:
1 in [1,2,3]
1 not in [1,2,3]

False

In [ ]:
pocket=["paper","cellphon","money"]
if "money" in pocket:
        print("택시타자")
else:
        print("걸어가자")

#  pass : 조건문에서 참이면 pass 수행 후 아무런 결과값도 보여주지 않음.

In [56]:
pocket=['paper','money','cellphone']
if 'money' in pocket:
        pass
else:
        print("카드를 꺼내라")

# elif : elif조건문 전의 내용이 거짓이라면, elif 조건문이 수행

In [ ]:
pocket=['paper','cellphone']
card=1
if 'money' in pocket:
        print("택시를 타고가라")
elif card:
        print("택시를 타고가라")
else:
        print("걸어가!!!")

pocket=['money']
if 'money' in pocket: pass
else: print("카드를 꺼내라")

# while 문
 - 조건문이 '참'인 동안 while문 아래에 속하는 문장들이 반복해서 수행

In [ ]:
treeHit=0
while treeHit < 10:
        treeHit = treeHit+1
        print("나무를 %d번 찍었습니다." % treeHit)
        if treeHit ==10:
            print("나무 넘어갑니다.")

In [ ]:
??????

In [78]:
prompt="""
    1.Add
    2.Del
    3.List
    4.Quit
    
    Enter number:"""


number=0
while number !=4:
        print(prompt)
        number=int(input())
    
    1.Add
2.Del
3.List
4.Quit
    
    Enter number:"""

IndentationError: unindent does not match any outer indentation level (<ipython-input-78-d0ceeafedd3b>, line 15)

# break : while문 강제로 빠져나가기

In [80]:
coffee=10
money=300
while money:
    print("돈을 받았으니 커피를 주지.")
    coffee=coffee-1 
    print("남은 커피는 %d잔 이야." %coffee)
    if not coffee:
        print("커피가 다 떨어졌엉. 판매를 중지합니당.")
        break

돈을 받았으니 커피를 주지.
남은 커피는 9잔 이야.
돈을 받았으니 커피를 주지.
남은 커피는 8잔 이야.
돈을 받았으니 커피를 주지.
남은 커피는 7잔 이야.
돈을 받았으니 커피를 주지.
남은 커피는 6잔 이야.
돈을 받았으니 커피를 주지.
남은 커피는 5잔 이야.
돈을 받았으니 커피를 주지.
남은 커피는 4잔 이야.
돈을 받았으니 커피를 주지.
남은 커피는 3잔 이야.
돈을 받았으니 커피를 주지.
남은 커피는 2잔 이야.
돈을 받았으니 커피를 주지.
남은 커피는 1잔 이야.
돈을 받았으니 커피를 주지.
남은 커피는 0잔 이야.
커피가 다 떨어졌엉. 판매를 중지합니당.

In [ ]:
# int(input("돈을 넣어 주세요:"))  --> 입력받을 부분

In [ ]:
coffee=10
while True:
    money=int(input("돈을 넣어 주세요:"))
    if money==300:
            print("커피를 드릴게요.")
            coffee=coffee-1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." %(money-300))
        coffee=coffee-1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if not coffee:
        print("커피가 다 떨어졌습니다. 판매를 중단합니다.")
        break

In [ ]:
ticket=10
whilt True:
    money=int(input("돈을 넣어 주세요:"))
    if money ==300:
            print("티켓을 드립니다.")
            ticket=ticket-1
    elif money>300:
        print("거스름돈 %d를 주고 티켓을 드립니다." %(money-300))
        ticket=ticket-1
    else:
        print("돈을 다시 돌려주고 티켓을 주지 않습니다.")
        print("남은 티켓의 수량은 %d매 입니다." %ticket)
    if not ticket:
        print("티켓이 매진되었습니다. 판매를 중단합니다.")

# continue : 조건에 맞지 않는 경우, 맨 처음으로 돌아가라!

In [2]:
a=0
while a <10:
        a=a+1
        if a %2==0: continue
        print(a)

1
3
5
7
9

# for 문

In [7]:
test_list=['one','two','three']
for i in test_list:
        print(i)

one
two
three

In [8]:
a=[(1,2),(3,4),(5,6)]
for (first, last) in a:
        print(first+last)

3
7
11

In [10]:
marks=[90,25,67,45,80]
number=0
for mark in marks:
    number=number+1
    if mark > 60:
        print("%d번 학생은 합격입니다." %number)
    else:
        print("%d번 학생은 불합격입니다." %number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [20]:
marks=[90,25,67,45,80]
number=0
for mark in marks:
    number=number+1
    if mark<60: continue
    print("%d번 학생 축하합니다. 합격입니다." %number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

# range 함수 for문에서 사용하기

In [7]:
a=range(10)
a

range(0, 10)

In [9]:
sum=0
for i in range(1,11):
        sum=sum+i
        
print(sum)

55

In [11]:
marks=[90,25,67,45,80]
for number in range(len(marks)):
    if marks[number]<60:continue
    print("%d번 학생 축하합니다. 합격입니다." %(number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

- len함수 : 리스트 내 요소의 총 개수 출력.  range(len(marks)) --> range(0:4) *marks내 전체 원소를 for 문으로 돌릴때 편리

In [19]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [21]:
a=[1,2,3,4]
result=[]
for num in a:
        result.append(num*3)
        
print(result)

[3, 6, 9, 12]

# list 내에 for 문도 가능

In [25]:
a=[1,2,3,4]
result=[num*3 for num in a]
result

[3, 6, 9, 12]

In [26]:
a=[1,2,3,4]
result=[num*3 for num in a if num %2==0]
result

[6, 12]

In [38]:
gugu=[i*j for i in range(2,10)
            for j in range(1,10)]

In [43]:
a=[70,60,55,75,95,90,80,80,85,100]
total=0
for score in a:
    total+=score
average=total/len(a)
average

79.0

In [48]:
i=0
while True:
        i+=1
        if i > 5: break
        print('*'*i)

*
**
***
****
*****

# 함수 만들기
 - 기본구조 : 
- def 함수명(입력 인수):
  -   수행할 문장 1
  -   수행할 문장 2
  -   ...
  
# retrun 을 마지막에 써주지 않으면 <결과값>은 없다.

In [50]:
def sum(a,b):
    return a+b
a=3
b=4
c=sum(a,b)
print(c)

7

In [52]:
def sum(a,b):
        result=a+b
        return result

sum(3,4)

7

In [56]:
def say():
        return'Hi'
    
a=say()
a

'Hi'

In [59]:
def sum(a,b):
        print("%d, %d의 합은 %d입니다." %(a,b,a+b))
        
sum(3,4)

3, 4의 합은 7입니다.

In [60]:
a=sum(3,4)
print(a)

3, 4의 합은 7입니다.
None

In [62]:
def sum_many(*a):
        sum=0
        for i in a:
            sum=sum+i
        return sum
    
sum_many(1,2,3,4,5,6,7,8,9,10)

55