# 숫자

In [2]:
1+2

3

In [3]:
6/4

1.5

In [5]:
4//3  #// :나누기 후 소숫점 버리기

1

In [7]:
4%3  # % 나머지값 구하기

1

# 문자열(String)

 - ", ', '''

In [10]:
"국민대"

'국민대'

In [11]:
'국민대'

'국민대'

In [12]:
'국민'+'대'

'국민대'

In [14]:
'ha'*10

'hahahahahahahahahaha'

In [16]:
'ha'+10

TypeError: Can't convert 'int' object to str implicitly

In [20]:
len('kookmin')   #len 문자열 갯수 세기. lenght에서 따옴

7

# 불(bool)

- 참(True T만 대문자), 거짓(False F 대문자)

In [23]:
True

True

In [24]:
False

False

In [26]:
True and True

True

In [27]:
True and False

False

In [28]:
True or False

True

In [29]:
not True

False

In [30]:
not False

True

# 리스트

In [39]:
[1,2,3]

[1, 2, 3]

In [41]:
x=[1,2,3]
x

[1, 2, 3]

# 인덱싱

- 필요한 값만 빼기!
- python은 0부터 숫자를 셈.(R은 1부터)
- [-1] 은 뒤에서부터 숫자를 셈

In [44]:
x[0]

1

In [45]:
x[1]

2

In [46]:
x[-1]

3

# 슬라이싱
 - 일정 범위의 값을 뺄 때
 - [0:2] : 1의 자리~2의자리 미만까지  
 - : 다음은 그 미만까지
 - 시작 : 끝 : 간격

In [49]:
x[0:2]

[1, 2]

In [50]:
x[0:2]

[1, 2]

In [52]:
x[1:] #두번째부터 끝까지

[2, 3]

In [53]:
x[:-1]

[1, 2]

In [54]:
x=[4,7,3,6,4,2,5,7,98,90,2]

In [55]:
x[2:7:2]

[3, 4, 5]

In [56]:
x[::2]  #처음부터 끝까지 2개씩

[4, 3, 4, 5, 98, 2]

In [57]:
x[::-1] #역순으로

[2, 90, 98, 7, 5, 2, 4, 6, 3, 7, 4]

# 매소드(method)

In [60]:
x.pop() #x의 맨 마지막 값을 뽑아내라! 그리고 없애버려라.

2

In [61]:
x

[4, 7, 3, 6, 4, 2, 5, 7, 98, 90]

In [62]:
x.append(100)

In [64]:
x  #x의 맨 마지막에 값을 추가해라

[4, 7, 3, 6, 4, 2, 5, 7, 98, 90, 100]

In [65]:
len(x)

11

In [67]:
'hello'[3:]

'lo'

# for 문
 - for 다음 꼭 : 를 작성 
 -    . . . . 그다음줄은 4칸을 띄워준다. 혹은 tab
 - range(시작, 끝미만, 간격)

In [75]:
s=0
for i in[1,2,3,4,5,6,7,8,9,10]:
    s = s + i
    print(s)

1
3
6
10
15
21
28
36
45
55

In [85]:
s=0
for i in range(1,11):
    s = s + i
    print(s)

1
3
6
10
15
21
28
36
45
55

# if문
 - >, <, >=, <=, !=

In [90]:
x=1

In [98]:
if x <= 1 :
    print('wow')

wow

In [101]:
for i in range(1,20) :
    if i % 3 == 0:
        print('짝')
    elif i % 3 == 1:
        print('우후')
    else:
        print(i)

우후
2
짝
우후
5
짝
우후
8
짝
우후
11
짝
우후
14
짝
우후
17
짝
우후

In [ ]:
FizzBuzz

In [111]:
for i in range(1,21):
    if i % 15 == 0 :
        print('FizzBuzz')    
    elif i % 3 == 0 :
        print('Fizz')
    elif i % 5 == 0 :
        print('Buzz')
    else :
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz

## while 문
- pass
- break
- continue

In [7]:
x=1000000
i=0
while x < 10000000:
    x = x * 1.1
    i = i + 1
    print(i,x)

1 1100000.0
2 1210000.0
3 1331000.0
4 1464100.0000000002
5 1610510.0000000005
6 1771561.0000000007
7 1948717.100000001
8 2143588.8100000015
9 2357947.691000002
10 2593742.4601000026
11 2853116.706110003
12 3138428.3767210036
13 3452271.214393104
14 3797498.3358324147
15 4177248.1694156565
16 4594972.986357222
17 5054470.284992945
18 5559917.31349224
19 6115909.044841465
20 6727499.949325612
21 7400249.944258174
22 8140274.938683992
23 8954302.432552392
24 9849732.675807633
25 10834705.943388397

In [8]:
for c in 'hello':
    if c == 'o':
        break
    print(c)

h
e
l
l

In [11]:
for c in 'hello':
    if c == 'e' or c == 'o':
        continue
    print(c)

h
l
l

# 딕셔너리 { }
 - 키 와 값

In [13]:
d = {'apple':30, 'bannana':20}
d['apple']

30

In [14]:
d['bannana']

20

In [16]:
d['cherry'] #사전에 없는 단어는 에러

KeyError: 'cherry'

In [19]:
d.keys()

dict_keys(['apple', 'bannana'])

In [18]:
d.values()

dict_values([30, 20])

In [20]:
d.items()

dict_items([('apple', 30), ('bannana', 20)])

In [21]:
for k in d.keys():
    print(k)

apple
bannana

In [22]:
for k in d.values():
    print(k)

30
20

In [25]:
for k , v in d.items():
    print(k, v)

apple 30
bannana 20