# python 히니 강의

1. 파이선 기초
    - 숫자, 문자, 리스트, 튜플, 딕셔너리 등
2. 제어문
    - if문, while문, for문
4. 함수
5. 외장함수
    - numpy 등

In [11]:
type(3)

int

In [13]:
type('num')

str

In [19]:
print(3+4)
print(3*4)
print(3/4)
print(4//3)

7
12
0.75
1

In [23]:
print('''안녕?''')
print('안녕'+'하세요')
print("안녕"*5)

안녕?
안녕하세요
안녕안녕안녕안녕안녕

In [24]:
a=1
a+10

11

# 인덱싱
 - 필요한 값만 추출

In [47]:
x=[1,2,3,4,5]
x

[1, 2, 3, 4, 5]

In [51]:
print(x[1])
print(x[0])
print(x[2])
print(x[-1])

2
1
3
5

# 슬라이싱
 - 일정 범위를 추출

In [53]:
print(x[0:2])  #[이상:미만]
print(x[::2])  #처음부터 끝까지 2개 단위씩
print(x[::-1]) #거꾸로 역순

[1, 2]
[1, 3, 5]
[5, 4, 3, 2, 1]

# 문자형
    - '_', "_", '''_''', """_"""

In [60]:
'Python\'s favorite food is perl.'

"Python's favorite food is perl."

In [64]:
head = "python"
tail = 'is fun!'
head+tail

'pythonis fun!'

In [66]:
a = "히니"
a*2

'히니히니'

In [75]:
y=['히니','라미','이미']
print(y[0])
print(y[0]+y[1])

히니
히니라미

# 문자열 포매팅

숫자열 대입 %d

In [79]:
"I eat %d apples." %3

'I eat 3 apples.'

문자열 대입 %s

In [82]:
"I eat %s apples." %"three"

'I eat three apples.'

숫자값을 나타내는 변수 대입

In [85]:
n=3
"i eat %d apples." % n

'i eat 3 apples.'

2개 이상의 값 넣기

In [90]:
day="2월 23일"
goal=21000

"%s 금일 롯데월드 입장객 목표는 %d명 입니다." %(day, goal)

'2월 23일 금일 롯데월드 입장객 목표는 21000명 입니다.'

In [167]:
day="2월 23일"
goal=21000

"{0} 금일 롯데월드 입장객 목표는 {1}명 입니다.".format(day, goal)

'2월 23일 금일 롯데월드 입장객 목표는 21000명 입니다.'

In [169]:
"{day} 금일 롯데월드 입장객 목표는 {goal}명 입니다.".format(day='2월 23일', goal=21000)

'2월 23일 금일 롯데월드 입장객 목표는 21000명 입니다.'

문자 개수 세기

In [98]:
a = "hobbh"
a.count('b')

2

In [96]:
member = '히니라미이미용이미니여리주니'
member.count('니')

3

# 위치 알려주기 1  #find

In [99]:
a = 'hobby'
a.find('b')  #b의 처음 나온 위치 반환

2

In [116]:
p = "Python is easier than R."
print(p.find('R'))
print(p.find('x')) #찾는 값이 없다면 -1 반환

22
-1

# 위치 알려주기 2  #index

In [113]:
print(p.index('R'))
print(p.index('x')) #찾는 값이 없다면 오류!

22

ValueError: substring not found

# 문자열 삽입  #join

In [122]:
a = ","
a.join('빨주노초파남보')

'빨,주,노,초,파,남,보'

# 소문자 → 대문자로 바꾸기 #upper

In [131]:
a = 'bigdata'
a.upper()

'BIGDATA'

# 대문자 → 소문자로 바꾸기 #lower

In [134]:
b = 'BIGDATA'
b.lower()

'bigdata'

# 왼쪽 공백 지우기 #lstrip

In [139]:
a = "     Hi~!"
print(a)
print(a.lstrip())

     Hi~!
Hi~!

# 오른쪽 공백 지우기 #rstrip

In [142]:
b= "오른쪽을 지워줘~~      "
print(b)
print(b.rstrip())

오른쪽을 지워줘~~
오른쪽을 지워줘~~

# 양쪽 공백 지우기 #strip

In [145]:
c ="    양쪽 공백을 지워줘!    "
print(c)
print(c.strip())

    양쪽 공백을 지워줘!
양쪽 공백을 지워줘!

# 문자열 바꾸기 #replace

In [150]:
a = "크롤링 강의는 병준오빠 담당이야."
a

'크롤링 강의는 병준오빠 담당이야.'

In [153]:
a.replace("병준", "여리")

'크롤링 강의는 여리오빠 담당이야.'

# 문자열 나누기 #split

In [154]:
a.split()

['크롤링', '강의는', '병준오빠', '담당이야.']

# 리스트 자료형 !
- 리스트명 = [요소1, 요소2, 요소3]
- 문자열과 동일

In [170]:
a = [1,2,3]
a

[1, 2, 3]

In [171]:
a[0]

1

In [172]:
a[0]+a[2]

4

In [173]:
a[-1]

3

In [180]:
#이중리스트
b = [1,2,3,['a','b','c',4,5]]
b

[1, 2, 3, ['a', 'b', 'c', 4, 5]]

In [176]:
b[3]

['a', 'b', 'c', 4, 5]

In [178]:
b[3][1]

'b'

리스트 내의 값 수정하기

In [195]:
a=[0,1,2,3,4,6]
print(a[5])
print(a)

a[5]=5
print(a[5])
print(a)

6
[0, 1, 2, 3, 4, 6]
5
[0, 1, 2, 3, 4, 5]

리스트 요소 삭제하기 #del

In [196]:
del a[0]
a

[1, 2, 3, 4, 5]

# 리스트 관련 함수들
    - append
    - sort
    - reverse
    - index
    - insert
    - remove
    - pop
    - count
    - extend

In [229]:
a=[3,2,1]
a

[3, 2, 1]

In [230]:
a.append(0)
a

[3, 2, 1, 0]

In [231]:
a.sort()
a

[0, 1, 2, 3]

In [232]:
a.reverse()  #반대로 뒤집기. sort 역순 아님.
a

[3, 2, 1, 0]

In [224]:
a.index(3)

0

In [233]:
a.insert(4,5) # 4번째 자리에 5를 삽입해라.
a

[3, 2, 1, 0, 5]

In [235]:
a.insert(1,100)
a

[3, 100, 2, 1, 0, 5]

In [236]:
a.remove(100)
a

[3, 2, 1, 0, 5]

In [240]:
b = [1,2,3,4,5,6,7,8,9,10]
print(b.pop())  #리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제해버림.
print(b)

10
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [241]:
print(b.pop())
print(b)

9
[1, 2, 3, 4, 5, 6, 7, 8]

In [246]:
c = [1,2,3,1,2,3,1,2,3,4]
print(c.count(1))
print(c.count(4))

3
1

In [247]:
c.extend([100,200])  #리스트에 리스트 더하기
c

[1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 100, 200]

# 튜플 자료형
 - 리스트는 [ , ] : 안의 값 추가, 삭제, 수정 가능
 - 튜플은 ( , )   : 안의 값 변경 불가능
 - 나머지 인덱싱, 슬라이싱, 더하기, 곱하기 등은 동일
 - 프로그램이 실행되는 동안 그 값이 변하지 않아야 하는 사항이거나, 바뀔까봐 걱정된다면 튜플 사용
 - 값을 수시로 변화시켜야 할 경우 리스트 사용

In [255]:
l1 = [1,2,'a','b']
print(l1)

del l1[0]   #리스트 삭제 가능
print(l1)

[1, 2, 'a', 'b']
[2, 'a', 'b']

In [252]:
t1 = (1,2,'a','b')
print(t1)

del t1[0]  #튜플 삭제 불가능
print(t1)

(1, 2, 'a', 'b')

TypeError: 'tuple' object doesn't support item deletion

# 딕셔너리 자료형 : 대응형 자료
- a:1, b:2 와 같이 key:value 로 대응되는 한 쌍의 값을 갖는 자료
- { key:value } 사용

In [278]:
a = {1:'최지영',2:'CRM협회',3:'정소영',4:'유재명'}
a

{1: '최지영', 2: 'CRM협회', 3: '정소영', 4: '유재명'}

In [279]:
a[5] = '유재명'
a

{1: '최지영', 2: 'CRM협회', 3: '정소영', 4: '유재명', 5: '유재명'}

In [280]:
a['class'] = '교수님'
a

{1: '최지영', 2: 'CRM협회', 3: '정소영', 4: '유재명', 5: '유재명', 'class': '교수님'}

In [281]:
del a[2] #딕셔너리 요소 삭제하기
a

{1: '최지영', 3: '정소영', 4: '유재명', 5: '유재명', 'class': '교수님'}

In [282]:
a['class']

'교수님'

In [286]:
a[3]  #딕셔너리의 [ ]는 자리번호가 아닌, key값

'정소영'

# ------------------------------------------------------------
# for 문

In [327]:
test_list = ['one','two','three']

In [328]:
for i in test_list:
    print(i)

one
two
three

In [331]:
a = [(1,2), (3,4), (5,6)]
for (a, b) in a:
    print(a + b)

3
7
11

In [342]:
marks = [90,50,60,40,80]

In [343]:
# 학생들 번호 부여를 위해 number 변수 사용
number = 0

In [334]:
for mark in marks:
    number = number+1
    if mark >= 60 :
        print("%d번째 학생은 합격입니다." %number)
    else : 
        print("%d번째 학생은 불합격입니다." %number)

1번째 학생은 합격입니다.
2번째 학생은 불합격입니다.
3번째 학생은 합격입니다.
4번째 학생은 불합격입니다.
5번째 학생은 합격입니다.

- continue
    - 참일 경우 print문을 수행하지 않고, 다시 처음으로 돌아가 for문을 돌림.
    - 따라서 거짓일 경우 print문을 수행하게 됨.

In [344]:
for mark in marks:
    number = number+1
    if mark < 60 : continue
    print("%d번째 학생은 합격입니다." %number)

1번째 학생은 합격입니다.
3번째 학생은 합격입니다.
5번째 학생은 합격입니다.

# range 함수 (for문과 함께 자주 사용됨.)

In [345]:
a=range(10)  #0부터 10 미만의 숫자
a

range(0, 10)

In [347]:
sum = 0
for i in range(1,11):
    sum = sum + i
print(sum)

55

0+1 / 0+1+2 / 0+1+2+3 / .... / 0+1+2+3+4+5+6+7+8+9+10

# len 함수 : 리스트 내 요소의 개수 돌려줌.

In [349]:
marks = [90,50,60,40,80]
len(marks)

5

In [350]:
range(len(marks))

range(0, 5)

In [348]:
marks = [90,50,60,40,80]
for number in range(len(marks)):
    if marks[number] < 60 : continue
    print("%d번째 학생은 합격입니다." %(number+1))

1번째 학생은 합격입니다.
3번째 학생은 합격입니다.
5번째 학생은 합격입니다.

# for문과 range를 활용해 구구단을 만들어 봅시다 >_<!

2 4 6 8 10 12 14 16 18 
3 6 9 12 15 18 21 24 27 
4 8 12 16 20 24 28 32 36 
5 10 15 20 25 30 35 40 45 
6 12 18 24 30 36 42 48 54 
7 14 21 28 35 42 49 56 63 
8 16 24 32 40 48 56 64 72 
9 18 27 36 45 54 63 72 81

# -------------------------------------------------------
# if 문

In [305]:
money = 1000

In [306]:
if money >= 3000:
    print("떡볶이 먹자!")
else:
    print("핫도그 먹자!")

핫도그 먹자!

In [319]:
pocket=['paper','cellphone','money']

In [320]:
if 'money' in pocket :
    print("택시를 타고 가라")
else :
    print("걸어가라")

택시를 타고 가라

In [323]:
pocket2=['paper','cellphone']
card = 1

In [324]:
if 'money' in pocket2 :
    print("택시를 타고 가라")
elif card :
    print("택시를 타고 가라")
else : 
    print("걸어가라")

택시를 타고 가라

In [325]:
pocket3=['paper','cellphone','money']
if 'money' in pocket3 : pass
else : print("카드를 꺼내라")

# FizzBuzz 가 아래와 같이 나오도록 if문을 작성해봅시다 >_<!

1 
2
Fizz 
4 
Buzz 
Fizz 
7 
8
Fizz 
Buzz 
11 
Fizz 
13 
14 
FizzBuzz 
16 
17 
Fizz 
19 
Buzz

# ----------------------------------------------------------
# while 문
 - 반복해서 문장을 수행하는 경우(반복문)

In [367]:
dosirock = 0
while dosirock < 10 :
    dosirock = dosirock + 1
    print("%d주차 도시락을 먹었습니다." % dosirock)
    if dosirock == 10 :
        print("도시락을 다 먹었습니다.")

1주차 도시락을 먹었습니다.
2주차 도시락을 먹었습니다.
3주차 도시락을 먹었습니다.
4주차 도시락을 먹었습니다.
5주차 도시락을 먹었습니다.
6주차 도시락을 먹었습니다.
7주차 도시락을 먹었습니다.
8주차 도시락을 먹었습니다.
9주차 도시락을 먹었습니다.
10주차 도시락을 먹었습니다.
도시락을 다 먹었습니다.

- 도시락이 10보다 작은 경우, while 문 안의 문장들을 계속해서 수행.
- 도시락 = 도시락+1 로 도시락값이 1씩 증가한다.
- 도시락 == 10일 경우, 조건문이 완료되어 while문을 빠져나가게 된다.

In [373]:
hotdog = 5
money = 300
while money : 
    print("돈을 받았으니 핫도그를 줍니다.")
    hotdog = hotdog - 1
    print("남은 핫도그의 양은 %d 개 입니다." %hotdog)
    if not hotdog : 
        print("핫도그가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 핫도그를 줍니다.
남은 핫도그의 양은 4 개 입니다.
돈을 받았으니 핫도그를 줍니다.
남은 핫도그의 양은 3 개 입니다.
돈을 받았으니 핫도그를 줍니다.
남은 핫도그의 양은 2 개 입니다.
돈을 받았으니 핫도그를 줍니다.
남은 핫도그의 양은 1 개 입니다.
돈을 받았으니 핫도그를 줍니다.
남은 핫도그의 양은 0 개 입니다.
핫도그가 다 떨어졌습니다. 판매를 중지합니다.

- hotdog가 0 이 되면, not hotdog 라는 문장이 '참'이 되며,
- 판매를 중지합니다를 print 한 뒤
- break로 while문을 빠져나가게 된다.

- 피자 자판기 만들기

In [ ]:
pizza = 5 
while True : 
    money = int(input("돈을 넣어주세요: ")) 
    if money == 300: 
        print("피자를 줍니다.") 
        pizza = pizza - 1 
    elif money > 300: 
        print("거스름돈 %d를 주고 피자를 줍니다." %(money - 300)) 
        pizza = pizza -1 
    else : 
        print("돈을 다시 돌려주고 피자를 주지 않습니다.") 
        print("남은 피자의 양은 %d개 입니다." %pizza) 
    if not pizza: 
        print("피자가 다 떨어졌습니다. 판매를 중지합니다.") 
        break

# 함수 만들기

In [1]:
def function(a,b):
    return(a+b)

In [2]:
function(3,4)

7

In [ ]:
def sum(a,b):
    return(a+b)
sum(1,2)

In [ ]:
a = 3
b = 7
c = sum(a,b)
c

In [2]:
def say():
    return 'Hi! :)'

In [4]:
say()

'Hi! :)'

#입력 인수 초깃값 설정 가능

# 파일 생성하기
- 파일열기모드
- r : 읽기모드
- w : 쓰기모드
- a : 추가모드

In [23]:
f = open("C:/Users/hehe2/Documents/KMU/study_mindscale/파일_생성하기.txt", 'w')
f.close()

# 모듈 
- import 모듈이름

In [31]:
def sum(a,b):
    return a+b

In [32]:
import mod1
print(mod1.sum(3,4))

ImportError: No module named 'mod1'

In [24]:
def safe_sum(a, b): 
    if type(a) != type(b): 
        print("더할수 있는 것이 아닙니다.")
        return 
    else: 
        result = sum(a, b) 
    return result

In [26]:
import mod1
print(mod1.safe_sum(1,2))

ImportError: No module named 'mod1'